@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  text: #ffffff;
  background: #020109;
  primary: #1ccef2;
  secondary: #1347f1;
  secondary: #345bdb;
  accent: #ce0d5e;
}
